.tag1{
    font-size: 50px;
    margin-left: 30px;
    color: blue;
}
.tag2{
    text-align: center;
    margin-left: 40%;
    margin-right: 30%;
}
.tag3{
    height: 500px;
    width: 300px;

}
.tag4{
    text-align: start;
}
.tag5{
    width:90%;
    height: 50px;
}
.tag6{
    margin-top: 10px;
    font-size:  30px;;
    background-color: blue;
    cursor: pointer;
    width: 90%;
    height: 50px;
    color: white;
}
.tag7{
    width: 40%;
    text-align: left;
}
.tag8{
    text-align:start;
}
.tag9{
    border-radius: 10%;
    border: 2px solid black;
}


